<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.indekode.collegebuddy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".STLogin"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NavigationDrawerActivity"
            android:label="@string/title_activity_navigation_drawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".EventActivity" />
        <activity android:name=".AttendanceActivity" />
        <activity android:name=".AboutUSActivity" />
        <activity android:name=".TimetableActivity" />
        <activity android:name=".ForgotPassword" />
        <activity android:name=".SyllabusActivity" />
        <activity
            android:name=".RegistrationActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".MainActivity"/>
        <activity android:name=".LoginTeacherActivity"
            android:parentActivityName=".STLogin"/>
        <activity
            android:name=".NoticeActivity"
            android:label="@string/title_activity_notice"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".TeacherActivity" />

        <service android:name=".service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".service.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".WebviewActivity" />
        <activity android:name=".UpdateProfileActivity" />
        <activity android:name=".TeacherAttendance" />
        <activity android:name=".UpdatePassword"></activity>
    </application>

</manifest>